#encabezado{
  color:black;
  background-color:D2C5EE;
  
  
}

#sobre-mi{
  color:black;
  background-color:D2C5EE;
  border-radius:9px;  
}
#proyecto{
  color:black;
  background-color:D2C5EE;
  border-radius:9px;  
}
#contacto{
  color:black;
  background-color:D2C5EE;
  border-radius:9px;  
}

